*
	box-sizing border-box
	font-family 'Open Sans'
	margin 0
	padding 0

body
	background-color #ecf0f1
	transition 3 all ease-out
	
body > header
	position fixed
	z-index -1
	top 0
	background-color #fff
	padding 5rem 0
	width 100%
	height 70%
	border-bottom 5px solid #6f6f6f
	transition .3s all ease-out
	figure
		width 100%
		margin 0
		padding 0
		img
			display block
			width 90%
			max-width 960px
			height auto
			margin 0 auto
			object-fit contain
	p
		display block
		margin 2rem auto 0 auto
		padding 2rem 7% 0 7%
		font-size 1.5rem
		text-align center
		width 90%
		max-width 1024px
		border-top 1px solid #565656
	&.active
		height 100%
		border-bottom 0px solid #fff
		
body > nav
	width 100%
	height 64px
	background-color #8799a5
	
body > section
	width 95%
	max-width 1024px
	margin-right auto
	margin-left auto
	background-color #fff
	box-sizing border-box
	padding 3rem 2rem
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	article
		margin-bottom 5rem
		&:last-child
			margin-bottom 0
		h2
			margin-bottom 2rem
		figure
			width 100%
			margin 0
			margin-bottom 2rem
			padding 0
			img
				display block
				width 65%
				height auto
				object-fit contain
				margin 0 auto
			figcaption
				width 100%
				text-align center
				padding .5rem 5rem 0 5rem
		.multiples
			width 100%
			display flex
			flex-direction row
			justify-content space-around
			figure
				height 20rem
				img
					height 100%
		&.iBackground
			figure
				background-image url('../img/book-1659717_1920 (1).jpg')
				background-size cover
				background-position center
				height 30rem
				margin 0 auto
				display flex
				flex-direction column
				justify-content flex-end
				figcaption
					background-color rgba(0,0,0,.5)
					color #fff
					padding 1rem 0